name: Release Charts

# See https://github.com/helm/chart-releaser-action

on:
  push:
    branches:
      - main
    paths:
      - charts/**
      - '!charts/**/README.md'
  # For manual dispatch
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write # need to write a commit to the repo
      packages: write # need to push chart to ghcr
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          config: .github/cr.yaml
          mark_as_latest: false # only headlamp is set to latest
